/* .desktop-cart {
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    height: 100vh;
    background: transparent;
    border-radius: 10px;
    background: red;
} */

.desktop-cart {
    /* position: fixed;
    top: 50%;
    transform: translate(0, -50%); */
}

.product-height {
    display: flex;
    flex-flow: column;
    height: 100vh;
}