.item-card-container {
    /* background: rgb(232, 14, 14); */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(115, 102, 102, 0.174);
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* user-select: none; */
}


/* .image-container {
    width: 250px;
    padding: 5px;
} */

.image-container>img {
    max-width: 250px;
    max-height: 150px;
    border-radius: 5px;
    overflow: hidden;
    /* position: absolute; */
}

.image-container {
    /* position: absolute; */
    position: relative;
}

.rating {
    display: flex;
    gap: 10px;
    font-weight: bold;
    /* background: red; */
}

.star-value {
    /* background: green; */
    /* font-size: 10px; */
    height: 100%;
    margin-top: 5px;
}

.price {
    font-weight: bold;
}

.weight {
    font-weight: bold;
    opacity: 0.5;
}

.add-button {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid transparent;
    transition: border .5s;
}

.add-button:hover {
    border: 1px solid rgba(114, 108, 108, 0.77);
}

.increment-button {
    width: 100%;
    /* height: 35px; */
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid rgba(114, 108, 108, 0.77);
    border-radius: 5px;
    transition: background .5s;
}

.count-buttons {
    border: none;
    /* height: 27px;
    width: 27px; */
    /* height: 27px;
    width: 27px; */
    border-radius: 90%;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.168); */
}

.increment-button:hover {
    background: rgba(195, 170, 170, 0.412);
}

.increment-button-container {
    /* width: 600px;
    background: red; */
    display: none;
}

.price-portion {
    display: flex;
    gap: 10px;
    /* background: red; */
}

.previous-price {
    margin-top: 3px;
    font-size: 13px;
    opacity: .6;
    text-decoration: line-through;
}

.badge {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    /* padding: 200px; */
    background: rgb(187, 18, 18);
    color: white;
    font-weight: 100;
    font-size: 15px;
    width: 45px;
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.title {
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: none; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* width: 150px; */
}

.title-container {
    width: 190px;
}

.title:hover {
    overflow: visible;
    white-space: normal;
}